@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
    font-family: 'Courgette', cursive;

}

nav {
    margin: 0 auto;
	position: relative;
	width: 370px;
	height: 50px;
	background-color: #34495e;
	border-radius: 15px;
	font-size: 0;
}

nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	color: #133337;
}

nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 50%;
}

a:nth-child(1) {
	width: 100px;
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
	width: 160px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}

nav .start-journal, a:nth-child(3):hover~.animation {
	width: 160px;
	left: 210px;
	background-color: #e6e6fa;
}

.info {
    text-align: center;
}

section {
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(151, 31, 145);
}

section p {
    color: rgb(215, 23, 23);
}

.daily-log {
	margin-left: 4%;
}
.daily-log h1,h2,h3,h4,h5,h6 {
	text-align: center;
}
.daily-log ol li {
	margin-left: 5%;
}
.info {
    position: relative;
    animation: words 3s alternate infinite;
}
@keyframes words {
    0%{ left: 0;} 100%{ left: 20px;}
}